---
layout: article_layout.liquid
title: Nathan Taylor
---

<h1 class="mb-5">Sports Data Management System</h1>
<img class="rounded w-75" src="/images/ff-banner.png" alt="">

<figure class="figure">
    <img src="/images/ff-graphic.png" class="figure-img img-fluid rounded" alt="flow diagram">
    <figcaption class="figure-caption">Simple flow diagram</figcaption>
</figure>