---
layout: article_layout.liquid
title: Nathan Taylor
---
    
<a href="/projects/" class="btn btn-light">Back</a>
<div class="mb-5 hollander banner"><h1 class="fw-bold">Hollander Makerspace</h1></div>
<section class="row">
    <section class="col-xl-6 mb-5">
        <h2>Project Background</h2>
            <p>As a capstone in the Information Technology minor program I was given the opportunity to work on tech projects for a real-world client. My group matched with the Hollander Makerspace on Michigan State’s campus. The Makerspace provides expertise and infrastructure for discovery and creation, they are most known for their 3D-printing services.
            </p>
    </section>

    <section class="col-xl-6 mb-5">
        <h2>Client's Assessment Needs</h2>
        <p>The clients wanted to better understand how their services were being used. To accomplish this they tasked us with implementing a user assessment on their website. We had to ensure the placement of this assessment was not invasive to the current job submission user flow, especially because our clients were concerned with survey fatigue as the job submission process already required a lot of clicking. </p>
    </section>
</section>

<h2>Creating a Prototype</h2>
    <p class="mb-5">I was tasked with creating a prototype for our addition to the client’s website and identified two areas within the job submission process that could contain the assessment. I utilized Figma, allowing us to visualize how the form would appear in each area. We then started development after meeting with the client to confirm which variant of the prototype they preferred. 
    </p>
<figure class=" mb-5">
    <figcaption class="text-center mb-1">High-Fidelity Prototype</figcaption>
    <img src="/images/makeatstate_prototype.png" alt="high fidelity prototype" class="w-50 d-block mx-auto">
</figure>

<section class="row">
    <section class="col-xl-5 mb-5">
        <h2 class="mt-5">Technology Stack</h2>
            <p>The website’s logic is largely handled in PHP and utilizes Nunjucks to display variable content when necessary. The website’s developer had also created a “workflow” system that was used to create the job submission user flow. In addition to working with the website’s logic and workflow system, our group added on to the website’s database so that the assessment questions were customizable. 
            </p>
        <h3 class="mb-5 text-center">Tools Identified</h3>
        <div class="row inline-blocks">
            <span class="col card tool inline fw-bold no-cursor-change" id="php">PHP</span>
            <span class="col card tool web inline fw-bold no-cursor-change" id="nunjucks">Nunjucks</span>
            <span class="col card tool decap inline fw-bold no-cursor-change" id="sql">SQL</span>
        </div>
    </section>
    <figure class="col-xl-6 mb-5">
        <figcaption class="text-center mb-1">Technical Design Document</figcaption>
        <img src="/images/makeatstate_technical_design_doc.png" alt="high fidelity prototype" class="w-100 d-block mx-auto">
    </figure>
</section>

<section class="row">
        <section class="col-xl-6 mb-5">
        <h2>Result</h2>
            <p>When presenting the project, the client indicated they were very impressed with the ability to create customized questions and they would be implementing our solution!
            </p>
    </section>
</section>

