---
layout: layout.liquid
title: 11ty Boilerplate
---

<section>
    <img alt="pine" src="/images/hero.png" width="440px" id="hero"/>

    <div id="home-info">
        <h1 id="name">Nathan Taylor</h1>
        <button type="button">Download Resume</button>
        <button type="button" class="special">Contact Info</button>
        <a href="https://github.com/nathanjtaylor" class="social github"><img alt="github" src="/images/github.png"/></a>
        <a href="https://www.linkedin.com/in/nathan-taylor9/" class="social"><img alt="linkedin" src="/images/linkedin.png"/></a>
    </div>
</section>
