---
layout: layout.liquid
title: Nathan Taylor
---

<section id="home">
    <img alt="pine" src="/images/hero.png" width="440px" id="hero"/>

    <div id="home-info">
        <h1 id="name">Nathan Taylor</h1>
        <button type="button" onclick="window.open('/projects/Resume_NathanTaylor_Jan25.pdf', '_blank');">Download Resume</button>
        <button type="button" onclick="window.location.href='/contact/';" class="special">Contact Info</button>
        <a href="https://github.com/nathanjtaylor" class="social github" target="_blank"><img alt="github" src="/images/github.png"/></a>
        <a href="https://www.linkedin.com/in/nathan-taylor9/" class="social" target="_blank"><img alt="linkedin" src="/images/linkedin.png"/></a>
    </div>
</section>
