---
title: Page Layout
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    {% nav %}
  </nav>
  <article>
    {{ content }}
  </article>
  <footer>
    <ul>
      <li><a href="/"><img src="/images/home.png" alt="home" class="footer-icon">home</a></li>
      <li><a href="/about/"><img src="/images/about.png" alt="about" class="footer-icon">about</a></li>
      <li><a href="/projects/"><img src="/images/projects.png" alt="contacts" class="footer-icon">projects</a></li>
      <li><a href="/contact/"><img src="/images/contact.png" alt="contact" class="footer-icon">contact</a></li>
    </ul>
  </footer>
</body>
</html>