---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">about</a></li>
      <li><a href="/about/">projects</a></li>
      <li><a href="/about/">contact</a></li>
    </ul>
  </nav>
    {{ content }}
  <footer>
    <ul>
      <li><img src="/images/home.png" alt="home"><a href="/">home</a></li>
      <li><img src="/images/about.png" alt="about"><a href="/">about</a></li>
      <li><img src="/images/projects.png" alt="contacts"><a href="/">projects</a></li>
      <li><img src="/images/contact.png" alt="contact"><a href="/">contact</a></li>
    </ul>
  </footer>
</body>
</html>